#toc_container {
  background: #f9f9f9 none repeat scroll 0 0;
  border: 1px solid #aaa;
  display: table;
  font-size: 95%;
  margin-bottom: 1em;
  padding: 20px;
  width: auto;
  text-align: left;
}

.toc_title {
  font-weight: 700;
  text-align: center;
}

#toc_container li,
#toc_container ul,
#toc_container ul li {
  list-style: outside none none !important;
}

h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 25px;
  color: #222121;
  background-color: #e9b4b8;
}

h2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  color: #332a26;
  border: 2px;
  border-style: dotted;
  border-color: #b86b6b;
}

h1:hover, h2:hover, h3:hover {
  color: cornflowerblue;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  color: #5b514c;
  margin: 25px;
}

p b {
  color: #b86b6b
}

.ingredients {
  color: #b86b6b;
}

.instructions {
  color: #332a26;
}

h1, h2, .ingredients, .instructions {
  margin: 10px;
  padding: 5px;
}

#components_of_ramen {
  background-color: #f4ebff;
}

#steps_in_making_ramen {
  background-color: #fff4eb;
}

#components_of_ramen, #steps_in_making_ramen {
  margin: 15px;
  padding: 15px;
}